html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.backdrop {
	align-items: center;
	background-color: white;
	display: flex;
	display: -webkit-flex;
	height: 425px;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	width: 100%;
	margin: auto;
}

.grid {
	display: table;
}

.row {
	display: table-row;
}

.h-wall {
	background: #ff3399;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.floor {
	background: black;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.door {
	background: gray;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.door-o {
	background: black;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.obj {
	background: green;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.bedroomwall {
	background: #803f00;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.officewall {
	background: #0000ff;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.classroomwall {
	background: #ffa31a;
	height: 6px;
	width: 6px;
	display: table-cell;
}

.player {
	background: #580e7c;
	height: 6px;
	width: 6px;
	display: table-cell;
}
